<md-card>
  <md-card-title>Persönliches:</md-card-title>
  <md-card-content style="font-size: 14pt;">
      <table style="width: 100%;">
        <tr>
          <td>
            <md-form-field style="width: 75%;">
              <input [(ngModel)]="characterService.character.name" mdInput placeholder="Name" maxlength="30">
            </md-form-field>
          </td>
          <td>
            <md-form-field style="width: 75%;">
              <input [(ngModel)]="characterService.character.title" mdInput placeholder="Titel" maxlength="30">
            </md-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <md-form-field style="width: 75%;">
              <input [(ngModel)]="characterService.character.nation" mdInput placeholder="Volk" maxlength="30">
            </md-form-field>
          </td>
          <td>
            <md-form-field style="width: 75%;">
              <input [(ngModel)]="characterService.character.profession" mdInput placeholder="Profession" maxlength="30">
            </md-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <md-form-field style="width: 75%;">
              <input [(ngModel)]="characterService.character.height" mdInput placeholder="Größe" type="number">
            </md-form-field>
          </td>
          <td>
            <md-form-field style="width: 75%;">
              <input [(ngModel)]="characterService.character.age" mdInput placeholder="Alter" type="number">
            </md-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <md-form-field style="width: 75%;">
              <input [(ngModel)]="characterService.character.gender" mdInput placeholder="Geschlecht">
            </md-form-field>
          </td>
          <td>
            <md-form-field style="width: 75%;">
              <input [(ngModel)]="characterService.character.religion" mdInput placeholder="Religion" maxlength="30">
            </md-form-field>
          </td>
        </tr>
      </table>
  </md-card-content>
</md-card>
