<md-card>
  <md-card-subtitle>
    1. Grundeinstellungen des Charakters
  </md-card-subtitle>
  <md-card-content>
  <table style="width: 100%;">
      <tr>
        <td>
          <md-input-container style="width: 95%;">
            <input mdInput placeholder="Name:" #inputName>
          </md-input-container>
        </td>
        <td>
          <md-input-container style="width: 95%;">
            <input mdInput placeholder="Volk:">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container style="width: 95%;">
            <input mdInput placeholder="Profession:">
          </md-input-container>
        </td>
        <td>
          <md-input-container style="width: 95%;">
            <input mdInput placeholder="Alter:">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container style="width: 95%;">
            <input mdInput placeholder="Größe:">
          </md-input-container>
        </td>
        <td>
          <md-input-container style="width: 95%;">
            <input mdInput placeholder="Religion:">
          </md-input-container>
        </td>
      </tr>
    </table>
  </md-card-content>
</md-card>