<md-card>
  <md-card-title>Grundeinstellungen</md-card-title>

  <md-card-content>
    <form #baseForm="ngForm">
      <table style="width: 100%;">
        <tr>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput placeholder="Name:" name="name" [(ngModel)]="charCreatorService.character.name" maxLength="24">
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput placeholder="Volk:" name="nation" [(ngModel)]="charCreatorService.character.nation" maxLength="24">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput placeholder="Profession:" name="profession" [(ngModel)]="charCreatorService.character.profession" maxLength="18">
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput placeholder="Alter:" type="number" name="age" [(ngModel)]="charCreatorService.character.age" max="1000" min="1">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput placeholder="Größe:" type="number" name="height" [(ngModel)]="charCreatorService.character.height" max="1000" min="1">
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput placeholder="Religion:" name="religion" [(ngModel)]="charCreatorService.character.religion" maxLength="18">
            </md-input-container>
          </td>
        </tr>
      </table>
    </form>


  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="accent" (click)="onNextCard(baseForm)">Nächster Schritt</button>
  </md-card-actions>
</md-card>