<md-card>
  <md-card-title>Grundeinstellungen</md-card-title>

  <md-card-content>
    <form #baseForm="ngForm">
      <table style="width: 100%;">
        <tr>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput ngModel placeholder="Name:" name="name">
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput ngModel placeholder="Volk:" name="nation">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput ngModel placeholder="Profession:" name="profession">
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput ngModel placeholder="Alter:" type="number" name="age">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput ngModel placeholder="Größe:" type="number" name="height">
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 95%;">
              <input mdInput ngModel placeholder="Religion:" name="religion">
            </md-input-container>
          </td>
        </tr>
      </table>
    </form>


  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="accent" (click)="onNextCard(baseForm)">Nächster Schritt</button>
  </md-card-actions>
</md-card>