<h2 md-dialog-title style="margin-bottom: 0.2%;">{{ this.data.name }}</h2>
<md-dialog-content>
  <p class="description">{{ this.data.description }}</p>
</md-dialog-content>
<md-dialog-actions>
  <button (click)="onBtnEquip();" *ngIf="this.data.equippable" md-button>Ausrüsten</button>
  <button (click)="onBtnUse();" *ngIf="this.data.usable" md-button>Benutzen</button>
  <button (click)="onBtnThrow();" md-button>Wegwerfen</button>
  <button (click)="onBtnSell();" md-button>Verkaufen</button>
</md-dialog-actions>