<md-card>
  <md-card-title>Inventar</md-card-title>
  <md-card-content>
    <md-table #table [dataSource]="inventoryService">
      <md-header-row *mdHeaderRowDef="inventoryService.columns"></md-header-row>
      <md-row (click)="onSelectItem(row);" *mdRowDef="let row; columns: inventoryService.columns;"></md-row>

      <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef>Name. </md-header-cell>
        <md-cell *mdCellDef="let element" >{{ element.name }}</md-cell>
      </ng-container>
      
      <ng-container mdColumnDef="effect">
        <md-header-cell *mdHeaderCellDef>Effekt. </md-header-cell>
        <md-cell *mdCellDef="let element">{{ element.effect }}</md-cell>
      </ng-container>
      
      <ng-container mdColumnDef="price">
        <md-header-cell *mdHeaderCellDef>Preis. </md-header-cell>
        <md-cell *mdCellDef="let element">{{ element.price }}G</md-cell>
      </ng-container>
    </md-table>
  </md-card-content>
  <md-card-actions>
    <button (click)="onAddItem();" md-button color="accent">Hinzufügen</button>
  </md-card-actions>
</md-card>