<md-card>
  <md-card-title>Skills:</md-card-title>
  <md-card-subtitle>
    W100
  </md-card-subtitle>
  <md-card-content>
    <md-tab-group>
      <md-tab label="Handeln">
        <md-table #table [dataSource]="getSkills('handeln')">
          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    
          <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef>Name. </md-header-cell>
            <md-cell *mdCellDef="let element">{{ element.name }}</md-cell>
          </ng-container>
          
          <ng-container mdColumnDef="chance">
            <md-header-cell *mdHeaderCellDef>Chance. </md-header-cell>
            <md-cell *mdCellDef="let element">{{ element.chance }}</md-cell>
          </ng-container>
        </md-table>
      </md-tab>
      <md-tab label="Wissen">
          <md-table #table [dataSource]="getSkills('wissen')">
            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      
            <ng-container mdColumnDef="name">
              <md-header-cell *mdHeaderCellDef>Name. </md-header-cell>
              <md-cell *mdCellDef="let element">{{ element.name }}</md-cell>
            </ng-container>
            
            <ng-container mdColumnDef="chance">
              <md-header-cell *mdHeaderCellDef>Chance. </md-header-cell>
              <md-cell *mdCellDef="let element">{{ element.chance }}</md-cell>
            </ng-container>
          </md-table>
      </md-tab>
      <md-tab label="Interagieren">
          <md-table #table [dataSource]="getSkills('interagieren')">
            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      
            <ng-container mdColumnDef="name">
              <md-header-cell *mdHeaderCellDef>Name. </md-header-cell>
              <md-cell *mdCellDef="let element">{{ element.name }}</md-cell>
            </ng-container>
            
            <ng-container mdColumnDef="chance">
              <md-header-cell *mdHeaderCellDef>Chance. </md-header-cell>
              <md-cell *mdCellDef="let element">{{ element.chance }}</md-cell>
            </ng-container>
          </md-table>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>