<h3 style="margin-bottom: 0.0%;" md-dialog-title>{{ data.title }}</h3>
<p style="margin-top: 0.5%;">{{ data.text }}</p>
<md-dialog-content>
  <md-form-field *ngFor="let item of data.inputs">
    <input mdInput [(ngModel)]="item.value" placeholder="{{ item.name }}:" type="{{ getType(item) }}">
  </md-form-field>
</md-dialog-content>
<md-dialog-actions>
  <button md-button color="accent" *ngFor="let item of data.buttons" (click)="onBtnClick(item);">{{ item.name }}</button>

  <button md-button color="accent" (click)="onBtnClose();">Fertig</button>
</md-dialog-actions>