<md-card>
  <md-card-title>Bonis und Malus</md-card-title>

  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let item of charExtrasItems">{{ item.content }}</md-list-item>

      <md-list-item>
        <md-input-container>
          <input mdInput placeholder="Hinzufügen:" style="width: 95%;" #input>
        </md-input-container>
        <button md-mini-fab (click)="onAddEffect(input)" style="margin-left: 1%;"><i class="material-icons">add</i></button>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="accent" (click)="onNextCard()">Nächster Schritt</button>
  </md-card-actions>
</md-card>