<md-card>
  <md-card-title>Login</md-card-title>
  <md-card-subtitle>
    Hier kannst du dich mit deinen Account anmelden.
  </md-card-subtitle>
  <md-card-content fxLayout="column" fxLayoutAlign="start stretch">
    <md-form-field style="width: 100%; font-size: 12pt;">
      <input mdInput placeholder="Name" type="text" maxlength="25" #username>
    </md-form-field>
    <md-form-field style="width: 100%; font-size: 12pt;">
      <input mdInput disabled placeholder="Passwort" type="text" #password>
    </md-form-field>
  </md-card-content>
  <md-card-actions>
    <button md-button color="accent" (click)="onBtnLogin(username.value, password.value);">Anmelden</button>
    <button md-button color="accent" (click)="onBtnRegister(username.value, password.value);">Account erstellen</button>
  </md-card-actions>
</md-card>