<md-card>
  <md-card-title>Login</md-card-title>
  <md-card-subtitle>
    Gosh!<br>
    Fiese Orks überfallen die Lande! Schnell, starte ein Spiel oder sie überrennen dich!
  </md-card-subtitle>
  <md-card-content fxLayout="column" fxLayoutAlign="start stretch">
    <md-form-field style="width: 100%; font-size: 12pt;">
      <input mdInput placeholder="Name" type="text" maxlength="25" #username>
    </md-form-field>
    <md-form-field style="width: 100%; font-size: 12pt;">
      <input mdInput disabled placeholder="Passwort" type="text" #password>
    </md-form-field>
  </md-card-content>
  <md-card-actions>
    <button md-button color="accent" (click)="onBtnLogin(username.value, password.value);">Anmelden</button>
  </md-card-actions>
</md-card>


<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
  <md-card >
    <md-card-title>Login</md-card-title>
    <md-card-subtitle>
      Gosh!<br>
      Fiese Orks überfallen die Lande! Schnell, starte ein Spiel oder sie überrennen dich!
    </md-card-subtitle>
  </md-card>
</div>
