<md-card>
  <md-card-title>Vergabe der Skillpunkte</md-card-title>

  <md-card-content>
    <form #skillForm="ngForm">
      <md-tab-group width="100%"  fxLayout="column">
          <md-tab label="{{ sectorItem.name }}" *ngFor="let sectorItem of skillSectors" >
            <md-list style="padding-bottom: 1%;">
              <md-list-item *ngFor="let skillItem of sectorItem.skills" style="margin-top: 1%;">
                <app-skill skillName="{{ skillItem.name }}"></app-skill>
              </md-list-item>
            </md-list>
          </md-tab>
      </md-tab-group>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="accent" (click)="onNextCard(skillForm)">Fertigstellen</button>
  </md-card-actions>
</md-card>