<md-card>
  <md-card-subtitle>
    3. Skills des Charakters
  </md-card-subtitle>
  <md-card-content>
    <md-tab-group width="100%"  fxLayout="column">
      <md-tab label="{{ sectorItem.name }}" *ngFor="let sectorItem of skillSectors" >
        <md-list style="padding-bottom: 1%;">
          <md-list-item *ngFor="let skillItem of sectorItem.skills" style="margin-top: 1%;">
            <app-skill skillName="{{ skillItem.name }}"></app-skill>
          </md-list-item>
        </md-list>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>