<md-card>
  <md-card-subtitle>
    3. Skills des Charakters
  </md-card-subtitle>
  <md-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div *ngFor="let sectorItem of skillSectors" fxLayout="column" fxLayoutAlign="space-around center">
        <h4 style="text-align: center;"> {{ sectorItem.name }}</h4>
        <app-skill *ngFor="let skillItem of sectorItem.skills" skillName="{{ skillItem.name }}"></app-skill>
      </div>

    
    </div>
  </md-card-content>
</md-card>