<md-card>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div style="margin-right: 4%;" fxFlex="initial">
      <md-card-title>
        {{ gameService.character.name }}
      </md-card-title>
      <md-card-subtitle>
        {{ gameService.character.title }}
      </md-card-subtitle>
    </div>
    <div fxFlex="auto">
      <h3 style="margin-bottom: 0.3%; margin-top: 0%;">Leben:</h3>
      <md-progress-bar mode="determinate" value="{{gameService.character.life / gameService.character.maxLife * 100}}" color="accent"></md-progress-bar>
      <p style="margin-top: 0%; font-size: 11pt;">{{ gameService.character.life }}/{{ gameService.character.maxLife }}</p>
      
      <h3 style="margin-bottom: 0.3%">Mana:</h3>
      <md-progress-bar mode="determinate" value="{{gameService.character.mana / gameService.character.maxMana * 100}}"></md-progress-bar>
      <p style="margin-top: 0%; font-size: 11pt;">{{ gameService.character.mana }}/{{ gameService.character.maxMana }}</p>
    </div>
  </div>
</md-card>