<div fxLayout="rows" fxLayoutAlign="center start" style="margin-top: 1%;">
    <md-card fxFlex="50%">
      <md-card-title>Pen and Paper</md-card-title>
      <md-card-subtitle>
        Herzlich Willkommen!
      </md-card-subtitle>
      <md-card-content>
        Ursprünglich waren Pen and Papers Spiele, die man ganz klassisch mit einem Charakterbogen aus Papier und einem Bleistift gespielt hat.<br><br>
        Dies wird sich nun auf dieser Website ändern! Hier wird dir die Chance gegeben einen eigenen Charakter zu erstellen, außerdem gibt es 
        für den GameMaster die Option mit einem extra Overlay das Spiel zu kontrollieren und zu steuern.<br><br>
  
  
        Um diese Website nutzen zu können musst du einen Account von einem <a href="http://delaiyoid.de">Delaiyoid.de</a> Administrator bekommen haben.
        Wenn du einen solchen Account besitzt kannst du dich unten anmelden.
      </md-card-content>
      <md-card-actions>
        <button routerLink="/login" md-raised-button color="primary">Anmelden</button>
        <button md-raised-button color="primary">Zugang anfordern</button>
      </md-card-actions>
    </md-card>
  </div>