<md-card>
  <md-card-title>Herzlich Willkommen!</md-card-title>
  <md-card-content>
    Hallo, <br>
    bitte wähle zuerst aus ob du ein neues Spiel starten willst als GameMaster oder ob du einen neuen Character erstellen willst.
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" routerLink="./new">Neues Spiel (Game Master)</button>
    <button md-button color="primary" routerLink="./create">Neuen Charakter erstellen</button>
    <button md-button color="primary" routerLink="./join">Weiter spielen</button>
  </md-card-actions>
</md-card>